/***********************************************************
	PJ: 			Shift admin
	PATH:			/assets/styles/default.css
	DESCRIPTION:	default css
************************************************************/

/* インポート
---------------------------------------------------------- */

@import url(popup.css);