<!DOCTYPE html>
<html><head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=320,user-scalable=no" />
    <link href="./assets/styles/default.css" rel="stylesheet" />
	<script src="./assets/scripts/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="./assets/scripts/main.js" type="text/javascript"></script>

   	<title>コントロールパネル</title>

</head>
<body id="login">

<header id="dashboard_header">
	<h1>
    	<a href="index.php">コントロールパネル</a>
    </h1>
</header>

<div id="container">
	<header>
		<h1><span>&nbsp;</span>登録情報</h1>
	</header>
	<section class="content">
		<h2>基本情報</h2>
		<dl class="formList">
			<dt>ID</dt>
			<dd>{{$spec_forms.id}}</dd>
			<dt>登録日</dt>
			<dd>{{$spec_forms.c_time}}</dd>
			<dt>更新日</dt>
			<dd>{{$spec_forms.u_time}}</dd>
			<dt>氏名</dt>
			<dd>{{$spec_forms.spec_name}}</dd>
			<dt>アルファベット</dt>
			<dd>{{$spec_forms.interlingua}}</dd>
			<dt>メールアドレス</dt>
			<dd>{{$spec_forms.mail_address1}}</dd>
			<dt>スペシャリスト分野</dt>
			<dd>{{$spec_area}}</dd>
			<dt>会社名 OR 商号</dt>
			<dd>{{$spec_forms.corporate_name}}</dd>
			<dt>郵便番号</dt>
			<dd>{{$post_code}}</dd>
			<dt>住所</dt>
			<dd>{{$spec_forms.address}}</dd>
			<dt>TEL</dt>
			<dd>{{$tel}}</dd>
			<dt>携帯TEL</dt>
			<dd>{{$phone}}</dd>
			<dt>FAX</dt>
			<dd>{{$fax}}</dd>
			<dt>生年月日</dt>
			<dd>{{$spec_forms.birthday}}</dd>
		</dl>
	</section>

	<section class="content items">
		<h2>フィー情報</h2>
		{{foreach from=$fee_forms item=v}}
		<dl class="itemList">
			<dt>サービスメニュー</dt>
			<dd>{{$v.servers_menu}}</dd>
			<dt>スペシャリストフィー</dt>
			<dd>￥{{$v.spec_fee|number_format}}</dd>
		</dl>
		{{/foreach}}
	</section>



	<section class="content items">
		<h2>プロフィール情報</h2>
		{{foreach from=$profile_forms item=vv}}
		<dl class="itemList">
			<dt>プロフィール名</dt>
			<dd><a href="profile1.php?id={{$vv.id}}">{{$vv.profile_name}}</a></dd>
			<dt>登録日</dt>
			<dd>{{$vv.c_time}}</dd>
			<dt>更新日</dt>
			<dd>{{$vv.u_time}}</dd>
		</dl>
		{{/foreach}}
	</section>

	<p class="btn"><a href="mailto:"><input type="button" value="変更依頼" /></a></p>

</div>

<footer>Copyright (C) Prego. / All rights reserved.</footer>

</body>
</html>