/***********************************************************
	PJ: 			Shift admin
	PATH:			/assets/styles/layout.css
	DESCRIPTION:	layout css
************************************************************/

#container {
	padding-bottom:20px;
}